.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
tests
logs
output
data
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
credentials.json
docker-compose.yaml
htmlcov
dist
build
.env
storage
docs
.gitignore
.coverage
