GMAIL_CREDENTIALS_PATH=credentials.json
GMAIL_TOKEN_PATH=token.json
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
SIGNATURE_ENCRYPTION_KEY=
TELEGRAM_BOT_TOKEN=
BOT_OWNER_TELEGRAM_ID=
BOT_OWNER_TELEGRAM_USERNAME=
DATABASE_URL=sqlite:///storage/database.db

# bank email info
BANK_EMAIL_SUBJECT=
BANK_EMAIL_FROM=
BANK_EMAIL_TO=

# fine-tuning
EMAIL_DRY_RUN=
EMAIL_DRY_RUN_RECIPIENT=
GMAIL_OAUTH_CALLBACK_ENABLED=
GMAIL_OAUTH_CALLBACK_URL=
