# signature
SIGNATURE_ENCRYPTION_KEY=

# telegram
TELEGRAM_BOT_TOKEN=
BOT_OWNER_TELEGRAM_ID=
BOT_OWNER_TELEGRAM_USERNAME=
MONITORING_CHAT_ID=
PUBLIC_URL=

# database
DATABASE_URL=postgresql+psycopg://finpipe:finpipe@localhost:5433/finpipe
TEST_DATABASE_URL=postgresql+psycopg://finpipe:finpipe@localhost:5433/finpipe_test
